<div class= "container">
	<div class= "row">
<%= simple_form_for @temp_job_post,
:html => { :multipart => true } do |f| %>
		<%= render 'temp_job_posts/errors' %>

	<%= f.label "About the job", class: 'subsectionheader'%>
	
  <%= f.input :job_title, label: 'Job Title',wrapper_html: { class: 'form-group' },input_html: { class: 'form-control' }  %>
	<%=tinymce%>
	
  <%= f.input :job_desc, as: :text, label: 'Job Description',wrapper_html: { class: 'form-group'  },input_html: { class: 'form-control job-desc tinymce' }  %>
	

  <%= f.input :application_instructions, label: 'How should the user apply to this job ?',wrapper_html: { class: 'form-group' },input_html: { class: 'form-control appinstructions' }  %>
</div>
 	<%= f.submit 'Preview posting', class: 'btn btn-primary btn-lg btn-block'  %>

<% end %>
</div>
