<div class= "container">
<%= simple_form_for @temp_job_post, url: newjob_path,
:html => { :multipart => true } do |f| %>
	
  <%= f.input :job_title, label: 'Job Title',wrapper_html: { class: 'form-group' },input_html: { class: 'form-control' }  %>
	<%=tinymce%>
	
  <%= f.input :job_desc, as: :text, label: 'Job Description',wrapper_html: { class: 'form-group'  },input_html: { class: 'form-control job-desc tinymce' }  %>
	

  <%= f.input :application_instructions, label: 'How should the user apply to this job ?',wrapper_html: { class: 'form-group' },input_html: { class: 'form-control appinstructions' }  %>

  
  <%= simple_fields_for @company ,:html => { :multipart => true } do |fa| %>
		<%=fa.input :name, label: 'Company Name',wrapper_html: { class: 'form-group' },input_html: { class: 'form-control' }%>
		
		<%=fa.input :url, label: 'Home page',wrapper_html: { class: 'form-group' },input_html: { class: 'form-control' }%>
		
		<%=fa.input :headquarters, label: 'Headquarters',wrapper_html: { class: 'form-group' },input_html: { class: 'form-control' }%>
    
    <%=fa.input :email, label: 'Email',wrapper_html: { class: 'form-group' },input_html: { class: 'form-control' }%>
    
    <%= fa.file_field :image %>
 	<% end %>


<%= f.submit 'Preview posting', class: 'btn btn-primary btn-lg btn-block'  %>

<% end %>
</div>
