
<div class="container showjobdetails">


	<div class="row">
		<div class="col-md-12 col-xs-12">
    	<h1><span class="jobtitleheader"><%= @temp_job_post[:job_title] %></span>
    		
    	</h1>
    	<h3><small>Posted on <%= date_posted(@temp_job_post)%></small><h3>
    	<div class="hr"><hr /></div>	
 		</div>   
	</div>

<div class = "row lessmarginrow">
	<div class="col-md-10 col-xs-10">
	<h3 class="companyinfo"><small>Company: <%=@company[:name] %></small><h3>
		<h3 class="companyinfo"><small>Headquarters: <%=@company[:headquarters]%></small><h3>
		<h3 class="companyinfo"><small>Homepage: <%=auto_link(@company.url)%></small><h3>
	</div>
	<div class = "col-md-2 col-xs-2 pull-right">
		<%= image_tag @company.image_url.to_s if @company.image_url.present? %>		
	</div>	
</div>

<div class="hr"><hr /></div>	

<div class = "row ">
	<div class="col-md-12 col-xs-12" id="showjobdesc">
		<h2 class="titleabout"> About this position</h2>
	  <p class="jobdesc"> <%= @temp_job_post[:job_desc].html_safe %><p>
	  <div class="hr"><hr /></div>
	</div>
</div>

<div class = "row bottomrow ">
	<div class="col-md-12 col-xs-12 appinstructions_div">
	<h2 class="titleapply"> Apply for this position</h2>
	<p class="appinstructions"><%= auto_link(@temp_job_post[:application_instructions]) %><p>
	</div>
</div>



<div class = "row">
	<div class="col-md-12 colx-xs-12">
  <article>
    <label class="amount">
      <span>Amount: $1.00</span>
    </label>
  </article>
	</div>
 </div> 
<div class = "row">
	

	<div class="col-md-6">
		<%= render 'temp_job_posts/editbutton'%>
	</div>

	<div class="col-md-6">
		<%= render 'job_postings/paybutton'%>
	</div>
	

</div>

</div>
