<% provide(:title, 'Remote Jobs') %>
<%= form_tag job_postings_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search",value: "Search for jobs here", name: nil %>
  </p>
<% end %>
<div class = "container">
	<div class="row">
    <div class="text-center"><h1>Job Postings</h1></div>
	</div>
</div>

<div class = "container">

<ul>
	<% @job_postings.each do |job_posting| %>
		<%=render job_posting%>
	<% end %>
</ul>

<%= link_to "Post a Job", newjob_path, class: "btn btn-block btn-primary"%>
<div>


