<% provide(:title, 'Remote Jobs') %>

<div class = "container">
	<div class="row">
		
	</div>
</div>

<div class = "row">

	<div class="col-md-6">
			<%= link_to "Post a Job", newjob_path, class: "btn btn-block btn-primary"%>
		</div>
 <div class= "col-md-4 col-md-offset-2">
    		<%= form_tag job_postings_path, method: :get do %>
    			<%= text_field_tag :query, params[:query],:autocomplete => :off,:placeholder => "harsha", :class => "searchfield2" %>
    			<%= submit_tag "Search",value: "Search", name: nil,class: "btn " %>
			<% end %>
		</div>
</div>


</div>
<div class="container">
<div class="row">

<ul>
	<% @job_postings.each do |job_posting| %>
		<%=render job_posting%>
	<% end %>
</ul>
<%= will_paginate @posts %>
</div>
</div>


