<% provide(:title, 'Remote Jobs') %>

<div class = "container topcontainer">

	<div class = "row">
		
 		<div class= "col-md-5 col-xs-6">
    	<%=render 'subscribers/new'%>
  	</div>
 		
	</div>


	<div class = "row">
		
 		<div class= "col-md-5 col-xs-6">
    	<%=render 'job_notifiers/new'%>
  	</div>
 		
	</div>

	<div class = "row">
		
		<div class= "col-md-6 col-xs-4 postbuttoncontainer">
			<%= link_to "Post a Job", newjob_path, class: "btn btn-primary btn-block"%>
		</div>
 		
 		<div class= "col-md-5 col-xs-6">
    	<%= form_tag job_postings_path, method: :get do %>
    		<%= text_field_tag :query, params[:query],
    		:autocomplete => :off,:placeholder => "Search: Javascript, CSS, Java etc..",:class => "searchfield input-block-level form-control" %> 
    			
		</div>
 		
 		<div class= "col-md-1 col-xs-1">
    	<%= submit_tag "Search",value: "Search", name: nil,class: "btn " %>
			<% end %>
		</div>
	</div>
</div>

	</div>

<div class="container">
	<div class="row">
		<ul class="ulreset">
			<% @job_postings.each do |job_posting| %>
				<%=render job_posting%>
				<% end %>
		</ul>
	</div>

		<div class="row">
			<div class = "col-md-offset-4 col-xs-offset-4 col-md-7 col-xs-7">
			<%= will_paginate @posts %>	
			</div>
		</div>	
		
</div>


