<div class="container">
<div class="row">
	<div class="col-md-12">

<div class="page-header">
    <h1><%= @job_posting.job_title %> <small> at <%= @job_posting.company.name %></small></h1>
</div>

<div class = "row">
	<div class="col-md-12 ">
	<h3><small>Posted on <%= date_posted(@job_posting)%></small><h3>
	<h3><small><%=@job_posting.company.name %></small><h3>
	<h3><small><%=@job_posting.company.headquarters%></small><h3>
	</div>
</div>

<div class = "row ">
	<div class="col-md-12" id="showjobdesc">
		<h3> About this position</h3>
	  <p><%= @job_posting.job_desc.html_safe %><p>
	</div>
</div>

<div class = "row">
	<div class="col-md-12">
	<h3> Apply for this position</h3>
	<p><%= @job_posting.application_instructions %><p>
	</div>
</div>

<div class = "row">
	<div class="col-md-6">	
		<%= link_to 'Go back and edit',[:edit,:job_posting],class: "btn  btn-primary btn-block"%>
	</div>
	
	<div class="col-md-6">
		<%= link_to 'Confirm and make payment',payment_path,class: "btn  btn-primary btn-large btn-block"%>
	

	</div>

</div>


</div>
</div>
</div>